.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(215, 214, 214, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-dual-ring {
  display: inline-block;
  width: 140px;
  height: 140px;
  position: relative;
  padding-top: 40px;
  padding-left: 0px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  border: 6px solid #0c538d;
  border-color: #0c538d transparent #0c538d transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
